/*h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}*/
.genesis-skip-link,
.genesis-sidebar-title.screen-reader-text {
  display: none; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }
